<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View comment</title>
</head>
<body>
    <h1>View comments</h1>

    <% comments.forEach((comment) => { %>
        <p>Comment ID : <%= comment.comment_id %></p>
        <p>Comment Author : <%= comment.comment_author %></p>
        <p>Comment Text : <%= comment.comment_text %></p>
        <a href="/comments/edit/<%= comment.comment_id %>">Edit comment</a>
        <form action="/comments/<%= comment.comment_id %>?_method=DELETE" method="post">
            <button>Delete</button>
        </form>
        <!-- <a href="/comment/<%= comment.comment_id %>">Delete</a> -->
        <a href="/">Back</a>
    <% }) %>


</body>
</html>